<!DOCTYPE html>
<html xmlsn:th="http:www.thymeleaft.org">

<head>

	<meta charset="utf-8">
	<title>Empleado</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>

<body>
<!-- Nav bar Usando Fragmentos  -->
	<div th:replace="~{fragments/nav :: navbar}"></div>
	
  <img src="./gym.jpg" width="300" border="5">
<div class="container mt-4">
	<div class="container">
		<form id="frm1" method="post" th:action="@{/procesar}" th:object="${empleado}">
			<p>
				<label>Codigo</label>
				<input type="number" th:field="*{codigo}">
			</p>
			<p>
				<label>Nombre</label>
				<input type="text" th:field="*{nombre}">
			</p>
			<p>
				<label>Apellido</label>
				<input type="text" th:field="*{apellido}">
			</p>
			<p>
				<label>Cargo</label>
			
			<select id="cargo" name="cargo" th:field="*{cargo}">
			<option value="">Seleccionar</option>
            <option value="jefe">Jefe</option>
            <option value="analista">Analista</option>
            <option value="programador">Programador</option>
            <option value="soporte">Soporte</option>
        </select>
        </p>
        
        <p>
				<label>Sede</label>
			
			<select id="sede" name="sede" th:field="*{sede}">
		<option value="">Seleccionar</option>
            <option value="Miraflores">Miraflores</option>
            <option value="Sanisidro">San Isidro</option>
            <option value="Magdalena">Magdalena</option>
            <option value="Jesusmaria">Jesus Maria</option>
        </select>
        </p>


			<p>
				<label>Años de servicio</label>
				<input type="number" th:field="*{aniosservicio}">
			</p>
			<p>

				<input type="submit" name="Enviar" class="btn btn-primary">
			</p>
				
        </tbody>
    </table>
			
		</form>
	</div>
	<!-- Pie de página llamando fracmento footer -->
	<div th:replace="~{fragments/footer :: footer_frac}"></div>
	
	

</body>

</html>