<!-- Pie de página de Bootstrap -->
 <div th:fragment="footer_frac">
	<footer class="bg-dark text-white text-center py-3 mt-4">
		<p>&copy; 2023 Alda GYM. Todos los derechos reservados.</p>
		<p>Síguenos en redes sociales:</p>
		<a href="https://www.facebook.com/aldagymperu" class="text-white mr-2" target="_blank">Facebook</a>
		<a href="https://www.tiktok.com/@aldagym" class="text-white mr-2" target="_blank">TikTok</a>
		<a href="https://www.instagram.com/aldagymperu/" class="text-white"target="_blank">Instagram</a>
	</footer>
 </div>